<h1>Square Root Calculation</h1>

<dl>
    <dt>Number</dt>
    <dd> <%= @the_number %></dd>
    
    <dt>Squared Root</dt>
    <dd> <%= @squared_root %></dd>
</dl>

<p>
<a href="/square_root/new">
Calculate another number 
</a>
<p/>